* {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: 'Poppins', 'Arial', sans-serif;
    }
    header {
        position: fixed;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background: hsl(200, 90%, 52%);
    }
    header h1 {
        float: left;
        line-height: 50px;
        font-family: 'Teko', 'Arial', sans-serif;
        font-size: 32pt;
    }
    header img {
        height: 130px;
        width: 180px;
        display: inline;
        position: relative;
        bottom: 15px;
        right: 30px;
        float: left;
        margin-left: 42px;
    }
    main h1, main h3 {
        color: #FFFFFF;
        background: #000000;
        text-shadow: 0 0 10px #FFFFFF;
        text-align: center;
        font-size: 22pt;
    }
    #drop-cap:first-letter {
        font-size: 4.0em;
        float: left;
        margin-top: .15em;
    }
    h2, h3 {
        font-family: 'Poppins', 'Arial', sans-serif;
    }
    h3 {
        font-size: 16pt;
    }
    p {
        font-size: 16pt;
        line-height: 1.6em;
    }
    .icon_style {
        font-size: 22pt;
        margin-top: 30px;
        background-color: ghostwhite;
        box-shadow: 3px 3px 3px;
        border: 2px double black;
        float: right;
        background: red;
        cursor: pointer;
    }
    .search_style {
        height: 32px;
        width: 200px;
        float: right;
        margin-top: 30px;
        margin-left: 8px;
        margin-right: 28px;
        border: 2px solid black;
        box-shadow: 3px 3px 3px;
    }
    nav {
        height: 80px;
        margin-top: 140px;
        line-height: 80px;
        border-top: 3px solid red;
        border-bottom: 3px solid red;
        width: 100%;
        font-family: 'Teko', Arial, sans-serif;
        background: hsl(200, 90%, 52%);
    }
    a:link {
        text-decoration: none;
        font-size: 18pt;
        color: #000000;
        text-transform: uppercase;
        padding: 25px;
        font-size: 26pt;
    }
    /* BORDER UPON INSPECTION IS 1.6PX NOT 2PX?!! */
    a:visited {
        color: rebeccapurple;
    }
    a:hover {
        background: #fc466b;
    }
    a:active {
        color: deeppink;
    }
    footer {
        height: 50px;
        line-height: 50px;
        background: hsl(200, 90%, 52%);
        width: 100%;
        margin-top: 30px;
    }
    footer a:link {
        color: #fff;
        padding: 0;
        font-size: inherit;
        text-decoration: none;
        text-shadow: 2px 2px 8px;
    }
    footer a:visited {
        color: rebeccapurple;
        border: none;
    }
    footer a:hover {
        border: none;
    }
    img {
        text-align: center;
        padding: 20px;
        width: 320px;
        height: 300px;
    }
    video {
        height: 450px;
        width: 355px;
    }
    .grid-container {
        display: grid;
        grid-template-rows: repeat(4 1fr);
        grid-template-columns: repeat(4, 1fr);
        padding: 10px 10px 0 10px;
        align-self: center;
        margin-top: 30px;
    }
    .text-title {
        grid-area: 1 / 2 / 2 /4; 
        text-align: justify;
        background: #1489B8;
        padding: 0 15px 15px 15px;
    }
    .asideleft {
        grid-area: 1 / 1 / 5 / 2;
        text-align: left;
        padding: 10px;
        background: #F7E7D4;
    }
    #answer1, #answer2, #answer3, 
    #answer4, #answer5, #answer6, 
    #answer7, #answer8, #answer9, 
    #answer10  {
        visibility: hidden;
    }
    .asideright {
        grid-area: 1 / 4 / 5 / 5;
        background: #F7E7D4;
    }
    figcaption {
        font-style: oblique;
        font-size: 11pt;
    }
    .video1 {
        grid-area: 2 / 2 / 3 / 3;
        background: #1489B8;
        padding-left: 10px;
    }
    .text1 {
        grid-area: 2 / 3 / 3 / 4;
        background: #1489B8;
        display: grid;
        align-items: center;
    }
    .video2 {
        grid-area: 3 / 2 / 4 / 3;
        background: #1489B8;
        padding-left: 10px;
    }
    .text2 {
        grid-area: 3 / 3 / 4 / 4;
        background: #1489B8;
        display: grid;
        align-items: center;
    }
    .video3 {
        grid-area: 4 / 2 / 5 / 3;
        background: #1489B8;
        padding-left: 10px;
    }
    .text3 {
        grid-area: 4 / 3 / 5 / 4;
        background: #1489B8;
        display: grid;
        align-items: center;
    }
    .text1, .text2, .text3 {
        padding: 15px;
    }